* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.Tabs {
    height: 100vh;
    width: 20rem;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(228, 241, 241);
    flex-basis: 300px;
}

.Title {
    background-color: rgb(254,166,40);
    color: white;
    width: 98.93vw;
    height: 80px;
    font-size: 20px;
    padding: 20px 20px;
}

.Title a {
    border: none;
    height: 1rem;
    margin-left: auto;
    color: white;
    text-decoration: none;
}

.tab-item {
    min-width: 100px;
    padding: 1.8rem 4.5rem;
    font-size: 20px;
    color: gray;
    background-color: rgb(228, 241, 241);
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item p {
    color: gray;
    text-decoration: none;
    margin-bottom: 0;
    
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    color: rgb(254,166,40);
    background-color: rgba(111, 123, 123, 0.215);
}
.tab-item:hover .child {
    OPACITY: 1;
    COLOR: RGB(254,166,40);
}


.Contents {
    margin: 5rem 0 0 10px;
    flex-grow: 5;
}

#add {
    width: 100px;
    height: 30px;
    background-color: rgb(254,166,40);
    color: white;
    cursor: pointer;
    border: none;
    margin: 10px 0;
}

.fa-solid {
    font-size: 32px;
}

.Edit_info {
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    height: 3rem;
    font-size: 15px;
}
.fa-trash:focus{
    color: white;
}
.btDelete{
    border: none;
    background-color: transparent;
}