html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.items-navi {
  min-height: 75vh;
  width: 100%;
  border-radius: 20px;
}

.Icon-item {
  width: 95%;
  height: 6rem;
  margin: 0.5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Icon-item a{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.menu-icon {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  padding-top: 15px;
  padding-left: 10px;
  cursor: pointer;
  color: #7f7f7f;
}
.active {
  background-color: rgb(254, 240, 225);
  border-radius: 15px
}

i.Active {
  color: rgb(236, 121, 5);
}

.icon-text {
  font-size: 15px;
  color: #7f7f7f;
  text-align: center;
  text-decoration: none;
}

.icon-text.Active {
  color: rgb(236, 121, 5);
}