@using Microsoft.AspNetCore.Identity
@using MyProject.Models.Models
@{
    var user = ViewBag.GetUser as User;
    var url = "https://localhost:7158/";
}

@inject SignInManager<IdentityUser> SignInManager
<ul class="navbar-nav ms-2 d-flex justify-content-center align-items-center flex-column ms-2" style="width: 100%; padding: 10% 0 10% 0;">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@user.Avatar == null)
        {
            <i class="fa-regular fa-circle-user" style="cursor: auto; font-size: 2.5rem"></i>
        }
        else
        {
            <img src="@url@user.Avatar" class="rounded-circle" style="width: 3rem; height: 3rem"/>
        }
        
        <li class="nav-item">
            <span class="nav-link text-dark fw-bold" style="font-size: 15px; margin-left: 18px;">@User.Identity!.Name</span>
        </li>
        <li class="nav-item">
            <div class="form-inline" style="background-color: #fea628; width: 120px; justify-content: center; border-radius: 20px; border: none;">
                <button type="submit" class="nav-link btn btn-link" id="LogOut" style="width: 100px; border: none; height: 3rem; text-align: center; color: white">
                    Đăng xuất
                </button>

                <!-- The Modal -->
                <div id="MyModal" class="modalLogOut">
                    <div class="modal-contentLogOut">
                        <div class="modal-headerLogOut">
                            <h3>Xác nhận đăng xuất</h3>
                            <span class="btn-close" id="Close" style="color: red"></span>
                        </div>
                        <div class="modal-bodyLogOut">
                            <p>Bạn có muốn đăng xuất không</p>

                        </div>
                        <div class="modal-footerLogOut">
                            <button id="confirmLogOut">Có</button>
                            <button id="cancelLogOut">Không</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link dark-text" asp-controller="Authen" asp-action="Login">
                Login
            </a>
        </li>
    }
</ul>
<script src="/js/LogOut.js"></script>
